<form class="{{cssClass}}" autocomplete="off" style="overflow: auto;">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="characteristics">Main</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    <section class="sheet-body">
        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Main Tab --}}
        <div class="tab characteristics active" data-group="primary" data-tab="characteristics">
            Characteristics
            <ol>
                {{#each actor.data.characteristics as |charac key|}}
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                <span  class="attribute-label flexrow"  name="data.characteristics.{{key}}.label">{{label}}</span>
                <div  class="attribute-editbox flexrow">
                <input  class="attribute-value"  type="text"  name="data.characteristics.{{key}}.value"  value="{{charac.value}}"  data-dtype="Number"  />
                </div>  
                </li>
                {{/each}}
            </ol>
            <hr>
            Attributes
            <ol>
                {{#each actor.data.attributes as |attrib key|}}
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <span  class="attribute-label flexrow"  name="data.attributes.{{key}}.label">{{label}}</span>
                    <div  class="attribute-editbox flexrow">
                        <input  class="attribute-value"  type="text"  name="data.attributes.{{key}}.value"  value="{{attrib.value}}"  data-dtype="Number"  />
                    </div>  
                </li>
                {{/each}}
            </ol>
            <hr>
            Fatigue
        </div>
        {{!-- Combat Tab --}}
        <div class="tab combat active" data-group="primary" data-tab="combat">
            Life
            <ol>
                <li class="attribute flexrow">
                    <span  class="attribute-label flexrow"  name="dice_range">1d20</span>
                    <span  class="attribute-label flexrow"  name="localization">Localization</span>
                    <span  class="attribute-editbox flexrow"  name="armour_type">Armour Type</span>
                    <span  class="attribute-editbox flexrow"  name="armour_points">Armour Points</span>
                    <span  class="attribute-editbox flexrow"  name="armour_enc">Armour Enc.</span>
                    <span  class="attribute-editbox flexrow"  name="current_life">Current Life</span>
                    <span  class="attribute-label flexrow"  name="max_life">/ Max Life</span>
                </li>
                {{#each actor.data.life as |lf key|}}
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <span  class="attribute-label flexrow"  name="data.life.{{key}}.loc">{{loc}}</span>
                    <span  class="attribute-label flexrow"  name="data.life.{{key}}.label">{{label}}</span>
                    <div  class="attribute-editbox flexrow">
                        <input  class="attribute-value"  type="text"  name="data.life.{{key}}.armour_type"  value="{{lf.armour_type}}"  data-dtype="String"  />
                    </div>
                    <div  class="attribute-editbox flexrow">
                        <input  class="attribute-value"  type="text"  name="data.life.{{key}}.ap"  value="{{lf.ap}}"  data-dtype="Number"  />
                    </div>
                    <div  class="attribute-editbox flexrow">
                        <input  class="attribute-value"  type="text"  name="data.life.{{key}}.enc"  value="{{lf.enc}}"  data-dtype="Number"  />
                    </div>
                    <div  class="attribute-editbox flexrow">
                        <input  class="attribute-value"  type="text"  name="data.life.{{key}}.current"  value="{{lf.current}}"  data-dtype="Number"  />
                    </div>
                    <span  class="attribute-label flexrow"  name="data.life.{{key}}.value"> / {{value}}</span>
                </li>
                {{/each}}
            </ol>
            <hr>
            Combat Styles
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills active" data-group="primary" data-tab="skills">
            <ol>
                {{#each actor.data.skills_common as |skillc key|}}
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                <span  class="attribute-label flexrow"  name="data.skills_common.{{key}}.label">{{label}}</span>
                <div  class="attribute-editbox flexrow">
                <input  class="attribute-value"  type="text"  name="data.skills_common.{{key}}.value"  value="{{skillc.value}}"  data-dtype="Number"  />
                </div>  
                </li>
                {{/each}}
            </ol>
	    </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>

